<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.domdd.dao.common.AfterSaleReturnOrderMapper" >
    <insert id="replaceBatch">
        replace into after_sale_return_order (platform_order_sn, platform_order_goods_sn, after_sale_reason,
        shipping_name, tracking_number, shop_name, outer_id, goods_name, sku_name, platform_goods_id,
        platform_goods_name, style_value, goods_sub_type, after_sales_type,pre_after_sales_type, after_sales_status, warehouse_id,
        warehouse_name, goods_number, quantity, refund_created_time, return_order_created_time,
        refund_id,order_sn,is_manual,return_status,order_goods_id,refund_updated_time)
        VALUES
        <foreach collection ="records" item="order" separator =",">
            (#{order.platformOrderSn}, #{order.platformOrderGoodsSn}, #{order.afterSaleReason}, #{order.shippingName},
            #{order.trackingNumber}, #{order.shopName}, #{order.outerId}, #{order.goodsName}, #{order.skuName},
            #{order.platformGoodsId}, #{order.platformGoodsName}, #{order.styleValue}, #{order.goodsSubType},
            #{order.afterSalesType}, #{order.preAfterSalesType},#{order.afterSalesStatus}, #{order.warehouseId}, #{order.warehouseName},
            #{order.goodsNumber}, #{order.quantity}, #{order.refundCreatedTime}, #{order.returnOrderCreatedTime},
            #{order.refundId},#{order.orderSn},#{order.isManual},#{order.returnStatus},#{order.orderGoodsId},#{order.refundUpdatedTime})
        </foreach >
    </insert>
    <select id="selectByPage" resultType="com.domdd.model.AfterSaleReturnOrder">
        select
            order_id,
            platform_order_sn,
            platform_order_goods_sn,
            after_sale_reason,
            shipping_name,
            tracking_number,
            shop_name,
            outer_id,
            goods_name,
            sku_name,
            platform_goods_id,
            platform_goods_name,
            style_value,
            goods_sub_type,
            after_sales_type,
            pre_after_sales_type,
            after_sales_status,
            warehouse_id,
            warehouse_name,
            sum(goods_number) as goods_number,
            sum(quantity) as quantity,
            refund_created_time,
            return_order_created_time,
            refund_id,
            order_sn,
            is_manual,
            return_status,
            order_goods_id,
            refund_updated_time,
            created_time,
            last_updated_time
        from after_sale_return_order
        where
            shop_name = #{shopName}
          and last_updated_time >= #{startTime}
          and last_updated_time &lt; #{endTime}
          and warehouse_name in ('成都哆劢掂品牌盒损仓',
                                 '成都哆劢掂品牌残品仓',
                                 '成都哆劢掂品牌正品仓',
                                 '成都品牌正品仓-圆通云仓 ',
                                 '成都品牌残品仓-圆通云仓',
                                 '成都品牌盒损仓-圆通云仓',
                                 '品牌正品仓-成都美邦达',
                                 '品牌盒损仓-成都美邦达',
                                 '品牌残品仓-成都美邦达')
          and after_sales_status = 10
          and return_status = 'DONE'
          group by platform_order_sn,outer_id
    </select>
</mapper>