<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.domdd.dao.common.AfterSaleReturnOrderMapper" >
    <insert id="replaceBatch">
        replace into after_sale_return_order (platform_order_sn, platform_order_goods_sn, after_sale_reason,
        shipping_name, tracking_number, shop_name, outer_id, goods_name, sku_name, platform_goods_id,
        platform_goods_name, style_value, goods_sub_type, after_sales_type, after_sales_status, warehouse_id,
        warehouse_name, goods_number, quantity, refund_created_time, return_order_created_time,
        refund_id,order_sn,order_goods_id,refund_updated_time)
        VALUES
        <foreach collection ="records" item="order" separator =",">
            (#{order.platformOrderSn}, #{order.platformOrderGoodsSn}, #{order.afterSaleReason}, #{order.shippingName},
            #{order.trackingNumber}, #{order.shopName}, #{order.outerId}, #{order.goodsName}, #{order.skuName},
            #{order.platformGoodsId}, #{order.platformGoodsName}, #{order.styleValue}, #{order.goodsSubType},
            #{order.afterSalesType}, #{order.afterSalesStatus}, #{order.warehouseId}, #{order.warehouseName},
            #{order.goodsNumber}, #{order.quantity}, #{order.refundCreatedTime}, #{order.returnOrderCreatedTime},
            #{order.refundId},#{order.orderSn},#{order.orderGoodsId},#{order.refundUpdatedTime})
        </foreach >
    </insert>
</mapper>