<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.domdd.dao.shardingjdbc.SjOrderInfoMapper">

    <insert id="replaceBatch">
        replace INTO order_info (order_goods_id, order_sn, platform_order_sn, goods_name, platform_order_goods_sn,
        platform_order_status, province_name, city_name, district_name, shipping_address, mobile, receive_name,
        platform_sku_id, style_value, platform_goods_id, seller_note, refund_status, tracking_number, shipping_name,
        outer_id, shipping_time, shop_name, pay_time,
        goods_amount, pay_amount, order_amount, seller_discount, platform_discount, goods_number, sku_number)
        VALUES
        <foreach collection="records" item="order" separator=",">
            (#{order.orderGoodsId}, #{order.orderSn}, #{order.platformOrderSn}, #{order.goodsName}, #{order.platformOrderGoodsSn},
            #{order.platformOrderStatus}, #{order.provinceName}, #{order.cityName}, #{order.districtName},
            #{order.shippingAddress}, #{order.mobile}, #{order.receiveName}, #{order.platformSkuId},
            #{order.styleValue}, #{order.platformGoodsId}, #{order.sellerNote}, #{order.refundStatus},
            #{order.trackingNumber}, #{order.shippingName}, #{order.outerId}, #{order.shippingTime}, #{order.shopName},
            #{order.payTime}, #{order.goodsAmount}, #{order.payAmount}, #{order.orderAmount}, #{order.sellerDiscount},
            #{order.platformDiscount}, #{order.goodsNumber}, #{order.skuNumber})
        </foreach>
    </insert>
</mapper>